/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e0e0e0, #b0b0b0);
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    width:150vh;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-title {
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ddd;
}
